<!--
 Create tabs with an icon and label, using the tabs-positive style.
 Each tab's child <ion-nav-view> directive will have its own
 navigation history that also transitions its views in and out.
 -->

<ion-tabs class="tabs-icon-top tabs-color-active-positive">
     <!-- Find Coffee Shops Nears Me Tab -->
    <ion-tab title="Find Coffee Shops Near Me" icon="ion-search" href="#/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    
    <!-- Coffee Shops Tab -->
    <ion-tab title="Coffee Shop List" icon="ion-coffee" href="#/tab/shops">
        <ion-nav-view name="tab-shops"></ion-nav-view>
    </ion-tab>
    
    <!-- About Bean Scene Tab -->
    <ion-tab title="Coffee Knowledge" icon="ion-information-circled" href="#/tab/knowledge">
        <ion-nav-view name="tab-knowledge"></ion-nav-view>
    </ion-tab>
</ion-tabs>